# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Virtualenv
env/*
VE/

# IDE
.idea

# Eclipse
.project

# local uploads
xperiment/media

zappa_settings.json
/VE38/
