{% load i18n %}

<div id="signin_modal" class="modal fade" style="z-index: 100000">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <h4>{% trans "Sign In" %}</h4>
                <hr/>

               <form class="login" method="POST" action="{% url 'account_login' %}">
                  {% csrf_token %}
                  {{ form.as_p }}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <a class="button btn-default" href="{% url 'account_reset_password' %}">Forgot Password?</a>
                  <button class="button btn-primary" type="submit">Sign In</button>
                </form>


                <p class="text-center">
                    <a href="{% url 'account_reset_password' %}">{% trans "Forgot your password?" %}</a>
                </p>


                <hr/>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->
