{% load i18n staticfiles account bootstrap3 lab_tags %}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "home" %}">{% trans "Xperiment" %}</a>
        </div>
       <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            {% if not no_login %}
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        {% if user.profile.is_scientist %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {% user_display user %}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{% url "scientist_detail" user.username %}"> {% trans "Profile" %}</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a id="logout_link"
                                           href="{% url 'account_logout' %}">{% trans "Logout" %}</a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li>
                                <a id="logout_link" href="{% url 'account_logout' %}">{% trans "Logout" %}</a>
                            </li>
                        {% endif %}
                    {% else %}
                        <a target="_self" class="btn btn-success navbar-btn" href="{% url 'account_login' %}">
                            <i class="glyphicon glyphicon-user"></i>
                            {% trans "Scientist Please Sign In" %}
                        </a>

                    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">

                    {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {% trans "Lab" %}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% for lab in user|get_lab_list %}
                                    <li><a href="{% url "experiment_manage" lab.id %}"> {{ lab.name }}</a>
                                    </li>
                                {% endfor %}
                            {% if user.is_superuser %}
                                <li role="presentation" class="divider"></li>
                                <li class="text-center text-muted" style="margin-bottom:10px;">Admin tools</li>
                                 <li><a href="{% url "add_lab" %}">{% trans "Create a Lab" %}</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
  </div>
</nav>

