{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n bootstrap3 %}

{% block extra_css %}
    <link href="{% static "css/landing-page.css" %}" rel="stylesheet">
    <style type="text/css">
        .btn-xl {
            padding: 18px 28px;
            font-size: 22px;
            border-radius: 8px;
        }

        .logo {
           max-width: 476px;
          width:  75%;
          height: auto;
        }

    </style>
{% endblock %}

{% block body %}
    {% comment %}{% include "_nav.html" with navbar="default" %}
{% endcomment %}
    {% bootstrap_messages %}


        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center" style="height:400px;">
                    <div class="intro-message">
                        <h1> <img class="logo" src="{% static "img/logo.png" %}" width="476" height="136" alt="xperiment"></h1>

                    </div>
                </div>
            </div>
        </div>



    <!-- /.banner -->

    {% include "includes/_login_modal.html" %}
    {% include "includes/_signup_modal.html" %}

    <footer style="position:fixed; bottom:0">
        <div class="container" >
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">Xperiment 2016. All Rights Reserved</p>
                    <p class="copyright text-muted small">@andytwoods</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
