{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <div class="modal-dialog" style="z-index: 0; width:320px;">
        <div class="modal-content">
            <div class="modal-body">
                <h4>{% trans "Sign In" %}</h4>
                <hr/>

                <form class="login" method="POST" action="{% url 'account_login' %}">
                  {% csrf_token %}
                  {{ form.as_p }}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <a class="button btn-default" href="{% url 'account_reset_password' %}">Forgot Password?</a>
                  <button class="button btn-primary" type="submit">Sign In</button>
                </form>

                <hr/>

            </div>
        </div>
    </div>
{% endblock %}
