{% extends "account/base.html" %}

{% load i18n bootstrap3 %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    {% if token_fail %}
        <h1>{% trans "Bad Token" %}</h1>
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <div class="modal-dialog" style="z-index: 0; width: 320px;">
                <div class="modal-content">

                    <div class="modal-body">
                        <h4>{% trans "Change Password" %}</h4>
                        <hr/>
                        <form action="." method="post" role="form">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-lg btn-block">
                                    {% trans "Change Password" %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>

        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
